@import "tailwindcss";

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: #ffffff;
  color: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111827;
}